:root {
  --dark-blue: hsl(225, 36%, 22%);
  --dark-blue-hovered: hsl(225, 36%, 12%);
  --blue: #738bfd;
  --red: #f55623;
  --dark-gray: #767e96;
  --light-gray: hsl(225, 10%, 92%);
  --light-gray-hovered: hsl(225, 10%, 82%);
  --very-light-gray: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

input {
  font-size: inherit;
  font-family: inherit;
}

input:focus {
  outline: none;
}

a {
  font-size: inherit;
  color: inherit;
}

button {
  border: none;
  background: none;
}

body {
  margin-left: 10rem;
  padding-bottom: 8em;
}

.strong {
  font-weight: 700;
}

.main {
  display: flex;
}

.main-col {
  border-left: 1px solid var(--light-gray);
}
.main-col-left {
  max-width: 45%;
}

.main-col-right {
}

.section {
  padding-top: 8rem;
}

.section-wrapper {
  margin-top: 2.5rem;
  margin-left: 3.5rem;
}

.section-heading {
  font-size: 1.4rem;
  color: var(--dark-gray);
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--light-gray);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0.3rem 0 0.3rem 3.5rem;
  max-width: 11.5rem;
}

.description {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--dark-gray);
  font-style: italic;
}

.btn {
  padding: 1.5rem 0;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  width: 22rem;
}

.btn.btn-primary {
  background-color: var(--dark-blue);
  color: var(--very-light-gray);
}

.btn.btn-primary-hovered {
  background-color: var(--dark-blue-hovered);
  color: var(--very-light-gray);
}

.btn.btn-secondary {
  background-color: var(--light-gray);
  color: var(--dark-blue);
}

.btn.btn-secondary-hovered {
  background-color: var(--light-gray-hovered);
}

.cols {
  display: flex;
  gap: 2rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.input-label {
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 1.6rem;
  display: block;
}

.input {
  padding: 1.5rem;
  margin: 1rem 0;
  width: 46rem;
  border: 1px solid var(--light-gray);
  border-radius: 0.3rem;
}

.input::placeholder {
  font-size: 1.4rem;
  color: var(--dark-gray);
}

.input.input-focused {
  outline: 2px solid var(--blue);
}

.section.inputs .description {
  margin-left: 1rem;
}

.input-line-grouping {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.input-line-grouping .input {
  flex-shrink: 0;
}

.alert {
  display: block;
  color: var(--red);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.input.inactive {
  background-color: var(--very-light-gray);
  border: 1px solid #d7d7d7;
}

.input.inactive::placeholder {
  color: var(--dark-blue);
}

.card {
  width: 22rem;
  height: 14rem;
  box-shadow: 0 0 20px var(--light-gray);
  border-radius: 0.3rem;
}
