:root {
  --dark-blue: #242e4c;
  --blue: #738bfd;
  --red: #f55623;
  --dark-gray: #767e96;
  --light-gray: #e9eaed;
  --very-light-gray: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

input {
  font-size: inherit;
  font-family: inherit;
}

a {
  font-size: inherit;
  color: inherit;
}

button {
  border: none;
  background: none;
}

.section-heading {
  font-size: 1.4rem;
  color: var(--dark-gray);
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--light-gray);
  width: max-content;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0.3rem 0.9rem 0.3rem 3.5rem;
}
