:root {
  --dark-blue: #242e4c;
  --blue: #738bfd;
  --red: #f55623;
  --dark-gray: #767e96;
  --light-gray: #e9eaed;
  --very-light-gray: #242e4c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font-size: inherit;
  font-family: inherit;
}

a {
  font-size: inherit;
  color: inherit;
}

button {
  border: none;
  background: none;
}
